In [108]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from itertools import combinations
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
794,tt0491152,35000000,59901913,Something Borrowed,Kate Hudson|Ginnifer Goodwin|John Krasinski|Co...,Luke Greenfield,It's a thin line between love and friendship.,Though Rachel (Ginnifer Goodwin) is a successf...,112,Comedy|Drama|Romance,Alcon Entertainment|Wild Ocean Films|2S Films,5/5/2011,6.0,2011
249,tt1119646,35000000,459270619,The Hangover,Bradley Cooper|Ed Helms|Zach Galifianakis|Just...,Todd Phillips,Some guys just can't handle Vegas.,When three friends finally come to after a rau...,100,Comedy,Legendary Pictures|Green Hat Films|Warner Bros...,6/5/2009,7.1,2009
1418,tt0375210,10000000,91196419,White Noise,Michael Keaton|Chandra West|Deborah Kara Unger...,Geoffrey Sax,The line separating the living from the dead h...,An architect's desire to speak with his wife f...,101,Drama|Horror|Thriller,Universal Pictures|Brightlight Pictures|Endgam...,1/7/2005,5.5,2005
5,tt1663202,135000000,532950503,The Revenant,Leonardo DiCaprio|Tom Hardy|Will Poulter|Domhn...,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,"(n. One who has returned, as if from the dead.)","In the 1820s, a frontiersman, Hugh Glass, sets...",156,Western|Drama|Adventure|Thriller,Regency Enterprises|Appian Way|CatchPlay|Anony...,12/25/2015,7.2,2015
755,tt1655442,15000000,133432856,The Artist,Jean Dujardin|BÃ©rÃ©nice Bejo|John Goodman|Jam...,Michel Hazanavicius,A Breath Of Fresh Vintage Air,"Hollywood, 1927: As silent movie star George V...",100,Drama|Comedy|Romance,France 3 CinÃ©ma|La Petite Reine|Studio 37|uFi...,5/15/2011,7.2,2011

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [19]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data.apply(lambda row: row.revenue - row.budget, axis = 1)
#the time given in the dataset is in string format.
#So we need to change this in datetime format
data['release_date'] = pd.to_datetime(data['release_date'])

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [20]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [21]:
# тут пишем ваш код для решения данного вопроса:
data.sort_values(by=['budget'], ascending=False).head(1)[['original_title','imdb_id']]

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [22]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [23]:
data.sort_values(by=['runtime'], ascending=False).head(1)[['original_title','imdb_id']]

         original_title    imdb_id
1157  Gods and Generals  tt0279111

# 3. Какой из фильмов самый короткий (в минутах)?

In [24]:
data.sort_values(by=['runtime']).head(1)[['original_title','imdb_id']]

      original_title    imdb_id
768  Winnie the Pooh  tt1449283

In [29]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [26]:
round(data.runtime.mean())

110

In [27]:
answers['4'] = '2. 110'

# 5. Каково медианное значение длительности фильмов?

In [115]:
answers['5'] = '1. 107'

In [17]:
round(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [28]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data.sort_values(by=['profit'], ascending=False).head(1)[['original_title','imdb_id']]

    original_title    imdb_id
239         Avatar  tt0499549

In [30]:
answers['6'] = '5. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [44]:
data.sort_values(by=['profit']).head(1)[['original_title','imdb_id']]

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

In [38]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [33]:
data.loc[data.profit > 0].imdb_id.count()

1478

In [39]:
answers['8'] = '1. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [35]:
data.loc[data.release_year == 2008].sort_values(by=['revenue'], ascending=False).head(1)[['original_title','imdb_id']]

      original_title    imdb_id
599  The Dark Knight  tt0468569

In [40]:
answers['9'] = '4. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [41]:
data.query('release_year >= 2012 & release_year <= 2014').sort_values(by=['profit']).head(1)[['original_title','imdb_id']]

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

In [42]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [56]:
answers['11'] = '3. Drama'

In [53]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
new_data = data.copy()
new_data.genres = new_data.genres.apply(lambda x: x.split('|'))
new_data = new_data.explode('genres')
new_data.genres.value_counts().index[0]
data.genres.str.split('|', expand=True).stack().value_counts().index[0]

'Drama'

ВАРИАНТ 2

In [54]:
data.genres.str.split('|', expand=True).stack().value_counts().index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [57]:
answers['12'] = '1. Drama'

In [48]:
data[data.profit>0].genres.str.split('|', expand=True).stack().value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [58]:
answers['13'] = '5. Peter Jackson'

In [55]:
data_dir = data.copy()
data_dir['director'] = data_dir['director'].apply(lambda x: x.split('|'))
data_dir = data_dir.explode('director')
data_dir.groupby('director').revenue.sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [64]:
answers['14'] = '3. Robert Rodriguez'

In [63]:
data_dir2 = data.copy()
#разделяю всех режиссеров
data_dir2['director'] = data_dir2['director'].apply(lambda x: x.split('|'))
data_dir2 = data_dir2.explode('director')

#разделяю все жанры
data_dir2.genres = data_dir2.genres.apply(lambda x: x.split('|'))
data_dir2 = data_dir2.explode('genres')

#сбрасываю индексы
data_dir2.reset_index(drop=True, inplace=True)

#сводная таблица по режиссерам и количеству фильмов в разныъ жанрах
pivot = data_dir2.pivot_table('original_title', index='director', columns='genres', aggfunc='count')
#сортирую и вывожу по жанру Action
pivot.sort_values(by=['Action'], ascending=False).index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [67]:
answers['15'] = '3. Chris Hemsworth'

In [66]:
data_cast_2012 = data[data.release_year == 2012].copy()
data_cast_2012['cast'] = data_cast_2012['cast'].apply(lambda x: x.split('|'))
data_cast_2012 = data_cast_2012.explode('cast')
data_cast_2012.reset_index(drop=True, inplace=True)
data_cast_2012.groupby('cast').revenue.sum().sort_values(ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [70]:
answers['16'] = '3. Matt Damon'

In [69]:
budget_mean = data.budget.mean()
data_cast_budget = data[data.budget > budget_mean].copy()
data_cast_budget['cast'] = data_cast_budget['cast'].apply(lambda x: x.split('|'))
data_cast_budget = data_cast_budget.explode('cast')
data_cast_budget.reset_index(drop=True, inplace=True)
data_cast_budget.groupby('cast').imdb_id.count().sort_values(ascending=False).index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [72]:
answers['17'] = '2. Action'

In [71]:
data_NicolasCage = data[data.cast.str.contains("Nicolas Cage", na='')].copy()
data_NicolasCage['genres'] = data_NicolasCage['genres'].apply(lambda x: x.split('|'))
data_NicolasCage = data_NicolasCage.explode('genres')
data_NicolasCage.reset_index(drop=True, inplace=True)
data_NicolasCage.groupby('genres').imdb_id.count().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [74]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [73]:
data_Paramaunt = data[data.production_companies.str.contains("Paramount Pictures", na='')].copy()
data_Paramaunt.sort_values(by=['profit']).head(1)[['original_title','imdb_id']]

           original_title    imdb_id
925  K-19: The Widowmaker  tt0267626

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [79]:
answers['19'] = '5. 2015'

In [78]:
data.groupby('release_year').revenue.agg('sum').sort_values(ascending = False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [87]:
answers['20'] = '1. 2014'

In [81]:
data_WarnerBros = data[data.production_companies.str.contains("Warner Bros", na='')].copy()
data_WarnerBros.groupby('release_year').profit.agg('sum').sort_values(ascending = False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [86]:
answers['21'] = '4. Сентябрь'

In [83]:
data_month = data.copy()
data_month['release_month'] = data_month.apply(lambda row: row['release_date'].month_name(), axis = 1)
data_month.groupby('release_month').imdb_id.count().sort_values(ascending = False).index[0]

'September'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [97]:
answers['22'] = '2. 450'

In [85]:
data_month = data.copy()
data_month['release_month'] = data_month.apply(lambda row: row['release_date'].month_name(), axis = 1)
data_summer = data_month.groupby('release_month').imdb_id.count()
summer_number = data_summer.July + data_summer.June + data_summer.August
summer_number

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [119]:
answers['23'] = '5. Peter Jackson'

In [118]:
data_year = data.copy()
data_year['release_month'] = data_year.apply(lambda row: row['release_date'].month, axis = 1)
data_year['director'] = data_year['director'].apply(lambda x: x.split('|'))
data_year = data_year.explode('director')

#сводная таблица по режиссерам и месяцам выхода их фильмов
pivot_year = data_year.pivot_table('original_title', index='director', columns='release_month', aggfunc='count', fill_value=0)

#добавляю колонку для фильмов зимойabs
pivot_year['wint'] = pivot_year[1] + pivot_year[2] + pivot_year[12]
#сортирую режиссеров по количеству зимних фильмов
pivot_year.sort_values(by='wint',ascending = False).index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [101]:
answers['24'] = '5. Four By Two Productions'

In [96]:
data_title = data.copy()
data_title['title_len'] = data_title.apply(lambda row: len(row['original_title']), axis = 1)
data_title['production_companies'] = data_title['production_companies'].apply(lambda x: x.split('|'))
data_title = data_title.explode('production_companies')
data_title.reset_index(drop=True, inplace=True)
data_title.groupby('production_companies').title_len.mean().sort_values(ascending = False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [104]:
answers['25'] = '3. Midnight Picture Show'

In [103]:
data_overview = data.copy()
data_overview['overview_len'] = data_overview.apply(lambda row: len(row['overview'].split(" ")), axis = 1)
data_overview['production_companies'] = data_overview['production_companies'].apply(lambda x: x.split('|'))
data_overview = data_overview.explode('production_companies')
data_overview.reset_index(drop=True, inplace=True)
data_overview.groupby('production_companies').overview_len.mean().sort_values(ascending = False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [106]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [120]:
data_vote = data.copy()
data_vote = data_vote.sort_values(by=['vote_average'], ascending=False)
#нахожу все фильмы с рейтином в 1% лучших
data_vote = data_vote[data_vote.vote_average > data_vote.quantile(0.99, numeric_only=True)['vote_average']].original_title
data_vote.values

#список с вариантами ответов
variant = [ 'Inside Out,The Dark Knight,12 Years a Slave',
        'BloodRayne,The Adventures of Rocky & Bullwinkle',
        'Batman Begins,The Lord of the Rings: The Return of the King,Upside Down',
        '300,Lucky Number Slevin, Kill Bill: Vol. 1',
        'Upside Down,Inside Out,Iron Man']

#прогоняю все варианты на совпадение с лучшими фильмами
for var in variant:
    count = 0
    for name in var.split(","):
        if name in data_vote.values: count += 1
        if count == len(var.split(",")): print(var) #вывожу подошедшие варианты

Inside Out,The Dark Knight,12 Years a Slave

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [112]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [111]:
data_actors = data.copy()
data_actors['cast'] = data_actors['cast'].apply(lambda x: x.split('|'))
#создаю колонку combinations со всеми возможными парами актеров снимавшихся в фильме
data_actors['combinations'] = data_actors.apply(lambda row: combinations(row.cast, 2), axis = 1)

#создаю список и кидаю туда все пары актеров со всех фильмов
tmp = []
for i in data_actors.index:
    for pair in data_actors.combinations[i]:
        tmp.append(pair)
c = collections.Counter(tmp)
c.most_common(1) #вывожу самую часто встречающуюся пару

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

ВАРИАНТ 2

# Submission

In [116]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '1. Steven Soderbergh',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint',
 '5': '1. 107'}

In [117]:
# и убедиться что ни чего не пропустил)
len(answers)

27